<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/popper")



    <script src="~/Scripts/bootstrap.js"></script>

 
    @Styles.Render("~/Content/common")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/jqueryUI")
    @*
    *@




    @Styles.Render("~/Content/css")
</head>
<body style="background-image:url(../../Content/linesCube.jpg); background-attachment:fixed;">

    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#5cbef2;">
        <div class="container-fluid">

            <a class="navbar-brand" href="#">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav  navbar-nav-scroll">
                    <li class="nav-item">

                        <div class="btn-group btn-group-lg" role="group" style="margin-left:1px;">

                            <input type="radio" class="btn-check padding5" name="btnradio" id="MenuIndex" autocomplete="off" checked>
                            <label class="btn btn-outline-light" id="MenuIndexLabel" for="MenuIndex" onclick="window.location='/BusinessArea/Index';"> <i class="icon-home" style="font-size:20pt;">gdf</i></label>
                        </div>
                        <div class="btn-group btn-group-lg padding5" role="group">
                            <input type="radio" class="btn-check" name="btnradio" id="MenuDetailedReport" autocomplete="off">
                            <label class="btn btn-outline-light" id="MenuDetailedReportLabel" for="MenuDetailedReport" onclick="window.location='/BusinessArea/DetailedReport';"><i class="icon-_479" style="font-size:20pt;"> dfg</i></label>
                        </div>
                        <div class="btn-group btn-group-lg padding5" role="group">
                            <input type="radio" class="btn-check" name="btnradio" id="MenuElementReport" autocomplete="off">
                            <label class="btn btn-outline-light" id="MenuElementReportLabel" for="MenuElementReport" onclick="window.location='/BusinessArea/ElementReport';"><i class="icon-picture" style="font-size:20pt;"> dfgdfgdfg</i></label>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content" style="background-color:#FFFFFF;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – XSeno</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
